{% extends "base.html" %}
{% load bootstrap3 %}

{% block content %}
<h3> Bookmark Detail Page </h3>

<table>
  <tr>
    <td>Author</td>
    <td>Title</td>
    <td>Short url</td>
    <td>Long url</td>
    <td>Creation Date</td>
  </tr>
{% for click in clicks %} {# Each "click" is a Click model object. #}
<tr>
<tr>
  <td>{{ click.author }}&nbsp;</td>
  <td>{{ click.title }}&nbsp;</td>
  <td>{{ click.short }}&nbsp;</td>
  <td>{{ click.orig }}&nbsp;</td>
  <td>{{ click.timestamp }}</td>
</tr>
<tr>
{% endfor %}

<div class="pagination">
    <span class="step-links">
        {% if clicks.has_previous %}
            <a href="?page={{ clicks.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ clicks.number }} of {{ clicks.paginator.num_pages }}.
        </span>

        {% if clicks.has_next %}
            <a href="?page={{ clicks.next_page_number }}">Next</a>
        {% endif %}
    </span>
</div>
{% endblock %}
